@model IEnumerable<TorneioTabajara.Models.Partida>

@{
    ViewBag.Title = "Partidas";
}

<h2>Lista de Partidas</h2>

<!-- Mensagem de erro, se houver -->
@if (TempData["Erro"] != null)
{
    <div class="alert alert-danger">@TempData["Erro"]</div>
}

<!-- Botão para gerar tabela de partidas -->
<div class="mb-3">
    @using (Html.BeginForm("GerarETrazerPartidas", "Home", FormMethod.Post))
    {
        <button type="submit" class="btn btn-primary">
            Gerar Tabela de Partidas
        </button>
    }
</div>
